@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Consumo API</h1>
        <ul>
            @foreach(var item in Model)
                {
                    <li>@item.title</li>
                }
            
        </ul>
    
</div>
